.experiencia__seccion{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
    padding-top: 2rem;
}

.container__experiencia{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container__botones{
    display:flex;
    justify-content: center;
}