
.forms___principal{
    display: flex;
   
}
.forms__contacto{
    display: inline-grid;
    padding-top: 1.3rem;
}

.titulo__contacto{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding-bottom: 0.8rem;
}
.parrafo__contacto{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding-right: 3rem;
    padding-bottom: 0.5rem;
}

label{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    display: grid;
    background: white;
    width: 586px;
    height: 20px;
}

input{
    width: 550px;
    height: 20px;
    border: 1rem solid white;
    outline: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.input__label{
    display: none;
}

#asunto-tag #mensaje-tag{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding-bottom: 2rem;

}

.enviar-button:hover{
    background: chocolate;
}

.referencia__footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1rem;
    background: #EAF2FD;
}

@media screen and (max-width: 400px) and (min-width: 0){
    .titulo__contacto{
        font-size: 5rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
        padding-left: 2.5rem;
    }
    .parrafo__contacto{
        font-size: 3.5rem;
        padding-top: 1rem;
        padding-left: 2.5rem;
    }
    input{
        width: 1000px;
        height: 150px;
        margin-left: 8rem;
        margin-top: 2rem;
        font-size: 4rem;
    }
    .referencia__footer{
        height: 200px;
    }
    .parrafo__referencia{
        font-size: 3rem;
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .titulo__contacto{
        font-size: 5rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
    .parrafo__contacto{
        font-size: 3rem;
        padding-top: 1rem;
        position: relative;
        width: 1220px;
        
    }
    input{
        width: 962px;
        height: 68px;
        margin-left: 5rem;
        margin-top: 2rem;
        font-size: 3rem;
    }
    .enviar-button{
        position: relative;
        left: 24rem;
    }
}