.elementos__formacion{
    background: white;
    width: 250px;
    height: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5%;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem #a4a1a4;
}

@media screen and (max-width: 400px) and (min-width: 0){
    .elementos__formacion{
        width: 480px;
        height: 550px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .elementos__formacion{
        width: 500px;
        height: 300px;
    }
}