.logo__unam{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 2rem;
    width: 200px;
}

.logo__alura{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 2rem;
    width: 180px;
}

@media screen and (max-width: 400px) and (min-width: 0){
    .logo__unam{
        width: 440px;
    }
    .logo__alura{
        width: 400px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .logo__alura{
        width: 276px;
        padding-left: 5rem;
    }
    .logo__unam{
        width: 312px;
        padding-left: 4rem;
    }
}