.container{
    background: #EAF2FD;
    padding-bottom: 60px;
}

@media screen and (max-width: 400px) and (min-width: 0){
    .container{
        width: 1289px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .container{
        width: 1326px;
        height: 900px;
    }
    
}